<body>

<div ng-controller="RoomController">

    <div class="panel panel-default panel-custom">
        <form name="RoomForm" ng-submit="createRoom(information)" novalidate>

            <h2>New channel : </h2>
            <label for="roomName">Channel name :</label>
            <input type="text" id="roomName"
                   ng-model="information.roomName">

            <span style="color:red" ng-show="RoomForm.$submitted && RoomForm.roomName.$invalid">
                Channel name is required.
            </span>

            <h3> Add contacts in this new channel : </h3>
            <div ng-repeat="contact in user.contacts">
                <input type="checkbox" ng-model="information.selected[contact._id._id]" > {{contact._id.userName}}
            </div>

            <br/>

            <button type="submit">Let's chat!</button>

            <span style="color:red">
         {{errorSaveMessage}}
        </span>
        </form>
    </div>

    <div class="panel panel-default panel-custom">
        <h1>Channels you can freely join :</h1>

        <div ng-repeat="room in rooms">
            <button class="margin-1" ui-sref="channel({roomId: room._id, room: room})">
                Channel {{room.name}}
            </button>
        </div>
    </div>

</div>

</body>
