<body>

<div ng-controller="ContactController">
    <form name="ContactForm" ng-submit="searchContact(information)" novalidate>

        <h2>Search contact : </h2>
        <label for="contactEmail">Contact's email :</label>
        <input type="text" id="contactEmail"
               ng-model="information.contactEmail">

        <button type="submit">Search!</button>

    </form>

    <div ng-if="userFound" ng-model="test">
        We've found : {{userFound.userName}}
    </div>
    <button ng-if="notYouOrFriend"  ng-click="addContact()">Add to my contact list</button>
    <span ng-if="message">{{message}}</span>

    <h1>Your contacts :</h1>

    <div ng-repeat="contact in user.contacts">
        <button ui-sref="contact({roomId: room._id, room: room})">
            Contact {{contact.userName}}
        </button>
    </div>

    <h2>Invitations received :</h2>

    <div ng-repeat="invitation in user.friendRequestReceived">
        <div> Invitation {{invitation._id}} </div>
    </div>

</div>

</body>
