<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Qwirk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>

        <div class="panel panel-default">
            <div class="panel-body">
                <img class="img-responsive img-center" src="https://img4.hostingpics.net/thumbs/mini_771232qwirklogo.png" width="100"/>

                <div class="status pull-right margin-1">
                    <p>You are connected with : {{user.userName}}</p>
                    <a ng-click='disconnect()' ui-sref="login">Log out</a>
                </div>

                <div class="btn-group btn-group-justified">
                    <a class="btn btn-primary" ui-sref="home.groups">Groups</a>
                    <a class="btn btn-primary" ui-sref="home.channels">Channels</a>
                    <a class="btn btn-primary" ui-sref="home.contacts">Contacts</a>
                    <a class="btn btn-primary" ui-sref="home.settings">Settings</a>
                </div>
            </div>
        </div>
        <ui-view></ui-view>
</body>
</html>