<!doctype html>
<html>
<head>
    <title>Qwirk Login</title>
</head>

<body>

<form name="loginForm" ng-submit="login(loginForm)" novalidate>

    <input type="email" required placeholder="Email" name="email"
           ng-model="credentials.email">
    <span style="color:red" ng-show="loginForm.$submitted && loginForm.email.$invalid ">
         The email is invalid.
    </span>

    <input type="password" required placeholder="Password" name="password"
           ng-model="credentials.password">
    <span style="color:red" ng-show="loginForm.$submitted && loginForm.password.$invalid">
         Password is required.
    </span>

    <button type="submit">Login</button>

    <span style="color:red">
         {{errorMessage}}
    </span>

</form>

<form name="registerForm" ng-submit="register(registerForm)" novalidate>

    <label class="test">Username :</label>
    <input type="text" required name="userName"
           ng-model="information.userName">

    <span style="color:red" ng-show="registerForm.$submitted && registerForm.userName.$invalid">
         Username is required.
    </span>

    <label>Email :</label>
    <input type="email" required name="email"
           ng-model="information.email">

    <span style="color:red" ng-show="registerForm.$submitted && registerForm.email.$invalid ">
         The email is invalid.
    </span>

    <label>Password :</label>
    <input type="password" required name="password"
           ng-model="information.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
    <span style="color:red" ng-show="registerForm.$submitted && registerForm.password.$invalid">
         Password should be at least 8 characters long and should contain one number, one letter and one special character.
    </span>

    <label>Confirm password :</label>
    <input type="password" required name="confirmPassword"
           ng-model="information.confirmPassword" data-match="information.password">
    <span style="color:red" data-ng-show="registerForm.confirmPassword.$error.match && registerForm.password.$valid">
         Passwords do not match.
    </span>

    <label>Date of birth:</label>
    <input type="text" required placeholder="MM/DD/YYYY" name="dateOfBirth"
           ng-model="information.dateOfBirth" ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19\d{2}|20[0-1][0-7])$/">
    <span style="color:red" ng-show="registerForm.$submitted && registerForm.dateOfBirth.$invalid ">
         The date of birth is invalid.
    </span>


    <label for="RegisterPicture">Profile Picture :</label>
    <input type="file" id="RegisterPicture"
           ng-model="information.picture">

    <label for="RegisterBio">Bio :</label>
    <textarea id="RegisterBio"
           ng-model="information.bio" ng-maxlength="100">
    </textarea>

    <button type="submit">Register</button>

    <span style="color:red">
         {{errorSaveMessage}}
    </span>

</form>

</body>
</html>

<style>


</style>

